.heading {
  text-align: center;
}
.heading > span {
  color: red;
}

.box {
  width: 100vw;
  display: flex;
}

.single,
.group {
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

button {
  background: none;
  border: 1px solid black;
  color: black;
  padding: 5rem;
  cursor: pointer;
}
