.heading {
  text-align: center;
}
.heading > span {
  color: red;
}

.box {
  width: 100vw;
  display: flex;
}

.single,
.group {
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.common {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.common > button {
  border-radius: 100%;
}

button {
  background: none;
  border: 1px solid black;
  color: black;

  cursor: pointer;
}

button:hover {
  background-color: #666;
  color: white;
}
