.sign {
  border: none;
  background: none;
  color: black;
  border: 1px solid black;
  padding: 0.5rem;
  float: right;
}

.login {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
}
